@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors! (Dark Theme)
@use '@material/theme/index' as theme with (
	$primary: #6e80ad,
	$secondary: color.scale(#676778, $whiteness: -10%),
	$surface: #172137,
	$on-surface: #acb9d5,
	$background: #0f1a31,
	$error: color-palette.$red-700
);

:root {
	--mdc-theme-primary: #{theme.$primary};
	--mdc-theme-white: #fff;
	--mdc-theme-primary-font: #fff;
	--mdc-theme-secondary: #{theme.$secondary};
	--mdc-theme-surface: #{theme.$surface};
	--mdc-theme-on-surface: #{theme.$on-surface};
	--mdc-theme-background: #{theme.$background};
	--mdc-theme-error: #{theme.$error};
	--mdc-theme-error-font: #fff;
	--mdc-muted-text: rgba(255, 255, 255, 0.6);
}

html,
body {
	background-color: theme.$background;
	color: theme.$on-surface;
	font-family: 'Roboto', sans-serif;
}

.banner-home {
	/* gradient */
	background: linear-gradient(0deg, theme.$background 0%, theme.$surface 100%);
	height: 260px;
}

.dsc-navbar {
	// background-color: theme.$surface;
	// linear top to bottom
	// background: linear-gradient(180deg, theme.$surface 0%, theme.$surface 40%, theme.$background 100%);
	background-color: theme.$surface;
	position: sticky;
	top: 0;
	z-index: 2;
	border-bottom: 1px solid rgba(172, 185, 213, 0.12);
}

a {
	color: #40b3ff;
}
a:visited {
	color: color.scale(#40b3ff, $lightness: -35%);
}

//? Style scrollbar for website

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: theme.$surface;
}

::-webkit-scrollbar-thumb {
	background: theme.$primary;
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: theme.$secondary;
}
