* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
}

.badge {
	display: inline-block;
	padding: 0.25em 0.4em;
	font-size: 75%;
	font-weight: 500;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
	transition:
		color 0.15s ease-in-out,
		background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
}

.badge.badge-danger {
	background-color: var(--mdc-theme-error);
	color: var(--mdc-theme-error-font);
}

.text-danger {
	color: var(--mdc-theme-error);
}

.paper-theme--outline-danger {
	--mdc-theme-primary: var(--mdc-theme-error) !important;
	--mdc-theme-on-surface: var(--mdc-theme-error) !important;
}

.paper-theme--outline-success {
	--mdc-theme-primary: var(--mdc-theme-success) !important;
	--mdc-theme-on-surface: var(--mdc-theme-success) !important;
}

.badge.badge-primary {
	background-color: var(--mdc-theme-primary);
	color: var(--mdc-theme-primary-font);
}

.badge.badge-secondary {
	background-color: var(--mdc-theme-secondary);
	color: var(--mdc-theme-secondary-font);
}

.badge.badge-success {
	background-color: var(--mdc-theme-success);
	color: var(--mdc-theme-success-font);
}

.text-white {
	color: var(--mdc-theme-white);
}

.text-muted {
	color: var(--mdc-muted-text);
}

.text-success {
	color: var(--mdc-theme-success);
}

.mdc-form-field {
	margin-bottom: 10px;
}

.align-flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.bot-display-info-item {
	margin-left: 10px;
}

.animation-display-none {
	display: none;
}

.animation-scale-in {
	animation: scale-in 0.5s ease-in-out;
}

@keyframes scale-in {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.15);
	}
	100% {
		transform: scale(1);
	}
}

.bg-fade-in-green {
	border-color: var(--mdc-theme-success) !important;
	animation: all 0.5s ease-in-out;
}
